<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>乐购商城</title>
		<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
	</head>
	<body>
	<!-- start header -->
		<header>
			<div th:replace="~{common/commons.html::topbar}"></div>
		</header>
	<!--end header -->

<!-- start banner_x -->
		<div th:replace="~{common/commons.html::search}"></div>
<!-- end banner_x -->

	<!-- start banner_y -->
		<div class="banner_y center">
			<div class="nav">				
				<ul>
					<li th:each="type,typeStat:${typeList}">
						<a target="_blank" th:href="@{'/goods/list/'+${type.id}}" th:text="${type.typeName}"  ></a>
					</li>

				</ul>
			</div>

		</div>
			<div class="clear"></div>
		</div>
	<!-- end banner -->

	<!-- start danpin -->
		<div class="danpin center">
			
			<div class="biaoti center">首页推荐</div>
			<div class="main center" >
				<div class="mingxing fl" th:each="goods,goodsStat:${goodsList}">
					<div class="sub_mingxing"><a href=""><img th:src="@{${goods.goodsImg}}" alt=""></a></div>
					<div class="pinpai" th:text="${goods.goodsName}"><a href="" ></a></div>
					<div class="youhui"th:text="${goods.goodsContent}"></div>
					<div class="jiage"th:text="${goods.goodsPrice}"></div>
				</div>
			</div>
				<div class="clear"></div>
			</div>
		</div>
	<div th:replace="~{common/commons.html::footer}"></div>
	</body>
</html>