<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>乐购商城</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style1.css}">
    <link rel="stylesheet"th:href="@{/layui/css/layui.css}">

</head>
<body>
<!-- start header -->
<header>
    <div th:replace="~{/common/commons.html::topbar}"></div>
</header>
<!--end header -->

<!-- start banner_x -->
<div th:replace="~{/common/commons.html::search}"></div>
<!-- end banner_x -->


<!-- xiangqing -->
<form action="post" method="">
    <div class="xiangqing">
        <div class="neirong w">
            <div class="xiaomi6 fl" th:text="${goods.goodsName}"></div>
            <div class="clear"></div>
        </div>
    </div>

    <div class="jieshao mt20 w">
        <input id="goodsId" th:value="${goods.id}" type="hidden">
        <input id="customerId"  th:value="${customer.id}" type="hidden">
        <div class="left fl"><img style="width: 560px;height: 560px"th:src="@{${goods.goodsImg}}"></div>
        <div class="right fr">
            <div class="h3 ml20 mt20" th:text="${goods.goodsName}"></div>
            <div class="jianjie mr40 ml20 mt10" th:text="${goods.goodsContent}"></div>

            <div class="jiage ml20 mt10" >
                <span >价格:</span>
                <span id="price" th:text="${goods.goodsPrice}"></span><span>元</span>
            </div>
            <div class="xzbb ml20 mt10">
                <span><button style="background-color: #ff6700" type="button" class="layui-btn" onclick="sub()">-</button></span>
                <span>
                      <input type="text" id="goodsNum" name="goodsNum" style="width: 20px;height: 33px;" readonly value="1">
                </span>
                <input th:value="${goods.goodsNums}" type="hidden" id="maxNum" name="goodsNum">
                <span><button type="button" style="background-color: #ff6700" class="layui-btn"  onclick="plus()">+</button></span>
                <span>剩余库存:</span>
                <span class="yanse" th:text="${goods.goodsNums}+'件'"></span>
                <span th:if="${collect ==null}" onclick="collect()"><img style="cursor: pointer" th:src="@{/img/collect.png}" ></span>
                <span th:if="${collect !=null}" onclick="isCollect()"><img style="cursor: pointer" th:src="@{/img/isCollect.png}" ></span>
            </div>

            <div class="xiadan ml20 mt20">
                <input class="jrgwc"  type="button" name="jrgwc" onclick="comfirm()" value="立即选购" />
                <input class="jrgwc" type="button" onclick="addCart()" name="jrgwc" value="加入购物车" />
            </div>
        </div>
        <div class="clear"></div>
    </div>
</form>


<!-- footer -->
<div th:replace="~{common/commons.html::footer}"></div>

</body>
<script type="text/javascript" th:src="@{/js/jquery-3.6.0.min.js}"></script>
<script type="text/javascript" th:src="@{/js/layer/layer.js}"></script>
<script type="text/javascript" th:src="@{/js/common/common.js}"></script>
<script>
    function addCart() {
        g_showLoading();
        $.ajax({
            url:"/cart/addCart",
            type:"POST",
            data:{
                goodsId:$("#goodsId").val(),
                customerId:$("#customerId").val(),
                goodsNums:$("#goodsNum").val()
            },
            success:function (data) {
                layer.closeAll();
                if(data.code==0){
                    layer.msg("成功");
                }else {
                    layer.msg(data.msg);
                }
            },
            error:function () {
                layer.closeAll();
            }
        })
    }

    function sub() {
        var num = $("#goodsNum").val();
        if(num<=1) {
            $("#goodsNum").attr("value",1);
        }else {
            $("#goodsNum").attr("value",num-1);
        }
    }

    function plus() {
        var num = $("#goodsNum").val()-1+1;
        var max = $("#maxNum").val()-1+1;
        if(num>=max) {
            $("#goodsNum").attr("value",max);
        }else {
            $("#goodsNum").attr("value",num+1);
        }
    }

    function comfirm() {
        var price =$("#price").text();
        var goodsNums =  $("#goodsNum").val();
        var totalPrice = (parseFloat(price)*goodsNums).toFixed(2)
        //配置一个透明的询问框
        layer.open({
            type: 2
            ,title: '请支付'+totalPrice+'元'
            ,area: ['550px', '600px']
            ,shade: 0
            ,content: '/pay'
            ,btn: ['已支付', '取消'] //只是为了演示
            ,yes: function(){
                buy();
            }
            ,btn2: function(){
                layer.closeAll();
                layer.msg("取消购买");
            }
        });
    }

    function buy() {
        var orderMap = {};
        var goodsId = $("#goodsId").val();
        var goodsNums =  $("#goodsNum").val();
        orderMap[parseInt(goodsId)]= parseInt(goodsNums);
        $.ajax({
            url:"/cart/doBuy",
            type:"POST",
            dataType:'json',
            contentType: 'application/json',
            data: JSON.stringify(orderMap),
            success:function (data) {
                layer.closeAll();
                if(data.code==0){
                    layer.msg("购买成功");
                    window.location.href="/selfInfo/selfOrder"
                }else {
                    layer.msg(data.msg);
                }
            },
            error:function () {
                layer.closeAll();
            }
        })
    }

    function collect() {
        var goodsId =$("#goodsId").val();
        console.log(goodsId);
        var customerId =$("#customerId").val();
        $.ajax({
            url:"/collect/addCollect",
            type:"POST",
            data:{
                goodsId:goodsId,
                customerId:customerId
            },
            success:function (data) {
                layer.closeAll();
                if(data.code==0){
                    layer.msg("收藏成功");
                    location.reload();
                }else {
                    layer.msg(data.msg);
                    location.reload();
                }
            },
            error:function () {
                layer.closeAll();
            }
        })
    }

    function isCollect() {
        var goodsId =$("#goodsId").val();
        var customerId =$("#customerId").val();
        $.ajax({
            url:"/collect/deleteCollect",
            type:"POST",
            data:{
                customerId:customerId,
                goodsId:goodsId
            },
            success:function (data) {
                layer.closeAll();
                if(data.code==0){
                    layer.msg("取消成功");
                    location.reload();
                }else {
                    layer.msg(data.msg);
                    location.reload();
                }
            },
            error:function () {
                layer.closeAll();
            }
        })
    }


</script>
</html>