<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>个人中心-乐购商城</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" >
    <script type="text/javascript" th:src="@{/js/jquery-3.6.0.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/common/common.js}"></script>
    <script type="text/javascript" th:src="@{/js/layer/layer.js}"></script>
</head>
<body>
<!-- start header -->
<header>
    <div th:replace="~{common/commons.html::topbar}"></div>
</header>
<!--end header -->
<!-- start banner_x -->
<div th:replace="~{common/commons.html::search}"></div>
<!-- end banner_x -->
<!-- self_info -->
<div class="grzxbj">
    <div class="selfinfo center" style="height: auto">
        <div class="lfnav fl">
            <div class="ddzx">个人中心</div>
            <div class="subddzx">
                <ul>
                    <li><a href="" style="color:#ff6700;font-weight:bold;" >我的订单</a></li>
                    <li><a th:href="@{/collect/selfCollect}">个人收藏</a></li>
                    <li><a th:href="@{/selfInfo/selfAddress}">收货地址</a></li>

                </ul>
            </div>

        </div>
        <div class="rtcont fr" style="height: auto">
            <div class="ddzxbt">交易订单</div>
            <div class="ddxq" th:each="orderVo,orderVoStat:${orderVos}">
<!--                <div class="ddspt fl"><img style="width: 80px;height: 80px" th:src="@{/img/detail.jpg}" alt=""></div>-->
                <div class="ddbh fl">订单号:<span th:text="${orderVo.orderId}"></span></div>
                <div class="ztxx fr">
                    <ul th:switch="${orderVo.orderState}">

                        <li th:case="0">未发货</li>
                        <li th:case="1">已发货</li>
                        <li th:case="2">已完成</li>
                        <li th:text="${#dates.format(orderVo.orderDate,'yyyy-MM-dd HH:mm')}" ></li>
                        <li><a th:href="@{'/orderDetail/'+${orderVo.orderId}}">订单详情></a></li>
                        <div class="clear"></div>
                    </ul>
                </div>
                <div class="clear"></div>
            </div>
        </div>
        <div class="clear"></div>
    </div>
</div>
<!-- self_info -->

<div th:replace="~{common/commons.html::footer}"></div>
</body>
</html>