<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--绑定接口-->
<mapper namespace="chanjy.mapper.CartMapper">

    <select id="queryCartByCustomerId" parameterType="int" resultType="CartVo">
        select  c.cart_id,c.customer_id,c.goods_id,c.goods_nums,g.goods_img,g.goods_content,g.goods_price
        from cart c join goods g
        on c.goods_id = g.id
        where c.customer_id = #{customerId}
    </select>

    <insert id="addCart" parameterType="Cart">
        insert into cart(customer_id,goods_id,goods_nums) values (#{customerId},#{goodsId},#{goodsNums})
    </insert>

    <update id="updateCart" parameterType="Cart">
        update cart set goods_nums = goods_nums + #{goodsNums} where customer_id = #{customerId} and goods_id = #{goodsId}
    </update>

    <select id="queryCartByCustomerIdGoodsId" parameterType="Cart" resultType="Cart">
        select * from cart where customer_id = #{customerId} and goods_id = #{goodsId}
    </select>

    <delete id="deleteCart" parameterType="int">
        delete from cart where cart_id = #{cartId}
    </delete>

    <delete id="deleteCartByList" >
        delete from cart
        where cart_id in
        <foreach collection="list" open="(" separator="," close=")" item="cartId">
            #{cartId}
        </foreach>
    </delete>


</mapper>