<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--绑定接口-->
<mapper namespace="chanjy.mapper.GoodsMapper">

    <select id="queryGoodsByLimit"  resultType="GoodsVo">
        select id,goods_name,goods_price,goods_content,goods_img,goods_nums
        from goods
        where sale = 1 and goods_nums !=0
        order by click desc
        Limit 10;
    </select>

    <select id="queryGoodsByType"  parameterType="int" resultType="GoodsVo">
        select id,goods_name,goods_price,goods_content,goods_img,goods_nums
        from goods g
        where type_id = #{typeId}  and goods_nums !=0  and sale = 1;
    </select>

    <select id="queryGoodsById"  parameterType="int" resultType="GoodsVo">
        select id,goods_name,goods_price,goods_content,goods_img,goods_nums
        from goods g
        where id = #{d};
    </select>
    <select id="queryType"  resultType="Type">
        select * from `type` ;
    </select>

    <select id="queryTypeById"  parameterType="int" resultType="Type">
        select *
        from `type`
        where id = #{id}  ;
    </select>


    <select id="queryBySearch" parameterType="String" resultType="GoodsVo">
        select id,goods_name,goods_price,goods_content,goods_img,goods_nums
        from goods
        where goods_name like "%"#{nameSearch}"%"
    </select>

    <update id="updateGoodsNums" >
        update  goods set goods_nums = goods_nums - #{goodsNums} where  id = #{id}
    </update>

    <select id="selectAllToVo" resultType="GoodsListVo">
        select g.id,g.goods_name,g.goods_price,g.goods_content,g.goods_img,g.goods_nums,g.sale,t.type_name
        from goods g join `type` t
        on g.type_id = t.id
    </select>

    <select id="selectAllToVoByGoodsId" parameterType="int" resultType="GoodsListVo">
        select g.id,g.goods_name,g.goods_price,g.goods_content,g.goods_img,g.goods_nums,g.sale,t.type_name
        from goods g join `type` t
        on g.type_id = t.id
        where g.id = #{goodsId} 
    </select>



    <update id="updateGoods" parameterType="Goods" >
        update goods
        set goods_name = #{goodsName},goods_price = #{goodsPrice},
        goods_content=#{goodsContent},goods_img=#{goodsImg},goods_nums = #{goodsNums},
        type_id = #{typeId},sale = #{sale}
        where  id = #{id}
    </update>

    <insert id="insertGoods" parameterType="Goods" >
        insert into goods(goods_name,goods_price,goods_content,goods_img,goods_nums,type_id,sale)
        values(#{goodsName},#{goodsPrice},#{goodsContent},#{goodsImg},#{goodsNums},#{typeId},#{sale})
    </insert>

    <update id="updateGoodsType"  >
        update  `type` set type_name =  #{typeName} where  id = #{id}
    </update>

    <delete id="deleteGoodsType" parameterType="int" >
        delete from `type` where  id = #{id}
    </delete>

    <insert id="insertGoodsType" parameterType="String">
        insert into `type`(type_name) values(#{typeName})
    </insert>

    <update id="incrClick" parameterType="int">
        update goods set click = click+1 where id = #{goods_id}
    </update>



</mapper>